@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./bootstrap-overrides";
@import "./variables";
@import "./Login";
@import "./TopNavigation";
@import "./Sidebar";

label {
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}

.app-container {
  overflow-x: hidden;
}

.app-content {
  margin-right: 0;
  flex: 1;
}

.app-content.open {
  margin-right: 250px;
  transform: translateX(250px);
  width: calc(100% - 250px); /* Adjust to match your sidebar width */
}
