@import "./variables";

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  transform: translateX(-250px);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;

  .title {
    font-size: 11px;
  }

  .bottom {
    padding-left: 2rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background: 	#001f24;
  }
}

.sidebar .nav-items {
  flex: 1;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar .nav-items li:hover a .link-name,
.sidebar .nav-items li.active a .link-name {
  color: $nav-primary-text-color;
}

.sidebar.close .nav-items li a .link-name {
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.sidebar .nav-items .nav-item {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
  padding-left: 2rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-weight: bold;
  cursor: pointer;
}

.sidebar .nav-items .nav-item:hover,
.sidebar .nav-items .nav-item.active {
  background: $nav-accent-color;
}

/* Toggle button (circle) */
.toggle-btn {
  position: absolute;
  top: 50%;
  right: -24px; /* Adjust this to determine how much of the button sticks out */
  transform: translateY(-50%);
  width: 24px; /* Width of the half-rectangle */
  height: 50px; /* Height of the half-rectangle */
  background-color: #666;
  border-top-right-radius: 10px; /* Rounded top-right corner */
  border-bottom-right-radius: 10px; /* Rounded bottom-right corner */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2000;
}
