.top-navigation {
  display: flex;
  height: 65px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: $white;
  box-shadow: 0px 1.2px 0px 0px rgba(0, 0, 0, 0.08);
}
